
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', Courier, monospace;
}
body {
	font-size: 30px;
	background:  linear-gradient(#83a4d4, #b6fbff);;
	width: 100%;
	max-width:100%;
	height:auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h1 {
	font-size: 48px;
	padding-top: 20px;
	font-weight: 900;
	margin-bottom: 12px;
    padding-bottom: 20px;
}

div {
	width: 480px;
	background-color: #eff7f8;
	margin: 15px 0;
	padding: 26px;
	text-align: center;
	box-shadow: 2px 2px 8px 2px #aaa;
    border-radius: 15px;
	height: 360px;
}

input[type=number] {
	width: 84px;
	font-size: 18px;
	padding: 8px;
	margin: 0px 8px 8px 8px;
    border-radius: 9px;
}
button {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 20px;
	margin: 12px 0;
	padding: 8px;
	cursor: pointer;
	letter-spacing: 1px;
    border-radius: 15px;
}
input[type=text] {
	font-size: 22px;
	padding: 8px 0;
	font-weight: 900;
	text-align: center;
	background-color: #f7f7f7;
	border: 2px solid #ccc;
	border-radius: 15px;
}
fieldset {
    border: 0;
}
#f3 {
	height: 410px;
	width: 300px;
	background-color: #eff7f8;
	margin: 15px 0;
	
    border-radius: 15px;
}
input{
border-radius: 15px;

}	

#f1 {
	height: 300px;
	font-size: 35px;
	text-align: center;
	padding-top: 19px;
	width:270px
}
@media (min-width: 1500px) {
	.sidead {
	  display: inline-block;
	}
  } 